.container {
  font-family: Avenir, serif;
  font-weight: 500;
  max-width: 626px;
  min-height: fit-content;
  margin: 0 auto;
}

.row {
  display: flex;
  width: 100%;
  height: fit-content;
}

.column-two-thirds {
  display: flex;
  flex-basis: calc(100% * 2/3);
  justify-content: flex-end;
  margin: 0 6px;
  padding-right: 2rem;
  align-items: center;
  height: 37px;
}

.column-one-third {
  display: flex;
  flex-basis: calc(100%/3);
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(105 105 105 / 40%);
}

p {
  font-size: 8.5px;
}

h1 {
  font-size: 18.5px;
  font-family: "Tiempos Headline", serif;
  font-weight: normal;
}

h2 {
  font-size: 15px;
  font-family: "Tiempos Headline", serif;
  font-weight: normal;
  margin-top: 0%;
  margin-bottom: 0;
  line-height: 25px;
}

h3 {
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 3px;
}

.overlay-text-index {
  color: white;
  font-size: 10.5px;
  line-height: 13.4px;
  position: absolute;
  top: 50%;
  left: 2rem;
  margin-top: -97px;
  padding-right: 230px;
}

.overlay-text-product {
  color: white;
  font-size: 10.5px;
  line-height: 13.4px;
  position: absolute;
  top: 50%;
  left: 2rem;
  margin-top: -52px;
  padding-right: 230px;
}

.overlay-text-implementation {
  color: white;
  font-size: 10.5px;
  line-height: 13.4px;
  position: absolute;
  top: 38%;
  left: 2rem;
  margin-top: -52px;
  padding-right: 230px;
}

.overlay-text-about-us {
  color: white;
  font-size: 10.5px;
  line-height: 13.4px;
  position: absolute;
  top: 50%;
  left: 2rem;
  margin-top: -52px;
  padding-right: 220px;
}

h1.overlay-text {
  font-size: 18.5px;
  font-family: "Tiempos Headline", serif;
  font-weight: normal;
  line-height: 1.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

p.overlay-text {
  margin-top: 7px;
}

li.navigation {
  display: inline;
}

.column-quarter > ul {
  padding: 0;
  margin: 0%;
}

li.other-navigation {
  display: block;
}

.navigation > button {
  background-color: white;
  border: 0 none;
  color: #a0a0a0;
  margin: 0 5px;
  font-size: 8px;
}

.other-navigation > button {
  background-color: #525351;
  border: 0 none;
  color: white;
  margin: 11px auto;
  padding: 0%;
  line-height: 0;
  font-size: 10px;
  font-weight: normal;
}

button:hover {
  cursor: pointer;
}

li.navigation > .contact-us-button {
  background-color: #294464;
  padding: 6px 0.5rem;
  border-radius: 3px;
  color: white;
  margin-left: 0;
}

.get-started-button {
  background-color: #294464;
  border-radius: 3px;
  color: white;
  margin-left: 0%;
  margin-top: 8px;
  font-size: 10px;
  padding: 7.5px 22.5px 8.5px;
  border-width: 0;
}

hr {
  margin: 0;
  border: 0.1rem solid #a0a0a0;
  opacity: 0.1;
}

.column-full {
  display: flex;
  padding: 32px 45px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.more-padding {
  padding: 0 24.5%;
}

.text-spacing {
  line-height: 12px;
}

.display-column {
  display: flex;
  flex-direction: column;
}

.index-banner {
  width: 538px;
  height: 270px;
  position: relative;
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: left;
}

.product-banner {
  width: 538px;
  height: 270px;
  position: relative;
  background-image: url("images/product/product-header.jpg");
  background-size: cover;
  background-position: left;
  margin-top: 35px;
}

.about-us-banner {
  width: 538px;
  height: 270px;
  position: relative;
  background-image: url("images/about-us/about-us-header.jpg");
  background-size: cover;
  background-position: left;
  margin-top: 35px;
}

.implementation-banner {
  width: 538px;
  height: 270px;
  position: relative;
  background-image: url("images/implementation/implementation-header.jpg");
  background-size: cover;
  background-position: left;
  margin-top: 35px;
}

ol {
  font-family: "Tiempos Headline", serif;
  padding: 0 22%;
  line-height: 45px;
}

ol > li > section {
  font-family: Avenir, sans-serif;
  line-height: 12px;
}

ol > li > section > h3 {
  line-height: 20px;
}

.light-gray-background {
  background-color: #fafafa;
}

.body-area {
  width: 100%;
}

.body-area-top {
  text-align: center;
  padding: 0 27%;
  color: #6e6e6e;
}

.body-area-top > p {
  line-height: 1rem;
  margin-top: 1px;
}

.locations {
  display: flex;
  text-align: center;
  justify-content: space-between;
  color: #6e6e6e;
  line-height: 1rem;
  margin-top: 30px;
}

.list-column {
  flex-basis: 47%;
  margin-bottom: 25px;
}

.light-gray-text {
  color: #fafafa;
}

.gray-text {
  color: #6e6e6e;
}

.dark-gray-text {
  color: #525351;
}

.dark-gray-background {
  background-color: #525351;
  color: white;
  height: 220px;
}

.negative-margin {
  margin-left: -17px;
}

.column-30 {
  display: flex;
  flex-basis: calc(100% * 2/3);
  justify-content: flex-end;
  margin: 0 6px;
  padding-right: 2rem;
  align-items: center;
  height: 90px;
}

.column30 {
  display: flex;
  flex-basis: calc(100%/3);
  align-items: center;
  height: 90px;
  padding-left: 45px;
}

.column-half-left {
  padding-left: 45px;
  padding-top: 45px;
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.column-half-right {
  padding-right: 45px;
  padding-top: 45px;
  flex-basis: 50%;
  display: flex;
}

.column-half {
  display: flex;
  align-items: flex-start;
}

.column-half > section > p {
  line-height: 14px;
}

.column-half-left > section > img.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.column-half-right > section > img.picture {
  width: 100%;
  object-fit: cover;
}

.fit {
  width: 268px;
  height: 191px;
}

.logo {
  height: 15px;
  display: flex;
}

a {
  text-decoration: none;
  font-size: 8.5px;
  color: #36c;
}

a.blog {
  font-size: 18px;
  font-weight: bold;
  font-family: "Tiempos Headline", serif;
}

.column-quarter {
  padding-top: 48px;
  flex-basis: 25%;
}

.column-eighth {
  display: flex;
  flex-basis: calc(100%/7);
  margin: 25px 0;
  width: 100%;
  padding-left: -10px;
}

.center {
  text-align: center;
}

.team-member {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
}

.team-member > img {
  width: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 8% 25%;
}

input,
textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 5px 55px;
  border-bottom: 0.2rem solid #a0a0a0;
}

textarea {
  font-family: inherit;
  padding-left: 0;
  padding-right: 0;
}

.opacity {
  opacity: 0.3;
}

input::placeholder {
  color: #a0a0a0;
}

#subscribe-button {
  background-color: #294464;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  font-size: 10px;
  padding: 10px 25px;
  border-width: 0;
}

#submit-button {
  background-color: #294464;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  font-size: 10px;
  padding: 8px 10px;
  border-width: 0;
}

em {
  font-family: "Tiempos Headline", serif;
  font-style: italic;
  font-size: 8px;
}

.padding-right {
  padding-right: 45px;
}

.padding-left {
  padding-left: 45px;
}

.padding-top {
  padding-top: 15px;
}

.more-padding-top {
  padding-top: 45px;
}

.padding-top-less {
  padding-top: 10px;
}

.padding-bottom {
  padding-bottom: 45px;
}

.padding-bottom-less {
  padding-bottom: 10px;
}

.margin-left {
  margin-left: 33px;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.padding-top-0 {
  padding-top: 0;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.centering-padding {
  padding: 0 24.5%;
}

.small-padding-left {
  padding-left: 5px;
}

.small-padding-right {
  padding-right: 5px;
}

.h2-font-size {
  font-size: 15px;
}

.align-left {
  align-items: flex-start;
}

.custom-p-font-size {
  font-size: 11.8px;
}
